{% extends 'base.html' %}

{% block title %}{{ book.title }} - {% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-3 my-4">
    <a href="#" class="btn btn-primary">Edit book</a>
    <form class="delete-form" method="POST" action="#">

    </form>
  </div>
  <div class="col-lg-9">
    <div class="card mt-4">
      {% if book %}
      <div class="card-body">
        <h3 class="card-title">{{ book.title }}</h3>
        <h4>{{ book.author }}</h4>
        <p class="card-text">Published: {{ book.year_published }}</p>
        {% for k, v in book.warehouses.items() %}
        <h4>
          <div class="badge badge-secondary">{{ k }}:</div> <br>
          <div class="badge badge-secondary">{{ v }} book(s) available</div>
        </h4>
        {% endfor %}
      </div>
      {% else %}
      <h1 class="offset-lg-3">The book doesnt exist.</h1>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}